<div>
  <h1> Login </h1>

  <%= form_tag("/sessions", method: "post") do %>
    <% if @errors.any? %>
        <div id="error">
          <ul>
          <% @errors.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <p>
      <%= label_tag :email %> :
      <%= email_field_tag :email %>
      </p>
      <p>
      <%= label_tag :password %> :
      <%= password_field_tag :password %>
      </p>
      <p>
       <input type="submit" value="Login">
      </p>
  <%end%>
</div>
