<div class="landing-container">
  <%= form_tag("/sessions", method: "post") do %>
    <% if @errors.any? %>
        <div id="error">
          <ul>
          <% @errors.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <p>
      <%= email_field_tag(:email, "", placeholder: "Email") %>
      </p>
      <p>
      <%= password_field_tag(:password, "", placeholder: "Password") %>
      </p>
      <p>
       <input type="submit" value="Login">
      </p>
  <%end%>
  <%= link_to "New user? Join our clique here", new_user_path, :class => "register-link"%>
</div>
