<div class="landing-container">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error">
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <p>:
      <%= f.text_field :first_name, placeholder: "First name" %>
      </p>
      <p>
      <%= f.text_field :last_name, placeholder: "Last name" %>
      </p>
      <p>
      <%= f.email_field :email, placeholder: "Email" %>
      </p>
      <p>
      <%= f.password_field :password, placeholder: "Password" %>
      </p>
      <p>
      <%= f.submit "Create an account" %>
      </p>
  <%end%>
    <%= link_to "Already a user? Login here", new_session_path, :class => "register-link"%>
</div>
